# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Données
# On ignore le Bronze (fichiers bruts volumineux)
data/bronze/*
!data/bronze/.gitkeep

# On SUIT le Silver et le Gold pour le déploiement sur Render (Persistance factice)
!data/silver/
!data/gold/
!data/silver/*.json
!data/gold/*.json
!data/gold/*.geojson

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Environment
.env
.env.local

.vercel
